* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header Section */
header {
    background-image: url('../img/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
}

.header-content {
    text-align: right;
    width: 40%;
    margin-left: 45%;
    padding-top: 10%;
}

.header-content h1 {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 16px;
    color: #444343;
    margin-bottom: 40px;
}

.header-content a {
    background-color: #F15B22;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    width: 160px;
    padding: 15px;
    border-radius: 5px;
}

/* Failures Section */
.failures-section {
    display: flex;
    width: 1072px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: auto;
    padding: 80px 0px;
}

.failures-img {
    width: 536px;
}

.failures-img img {
    height: 600px;
}

.failures-content {
    width: 536px;
}

.failures-content h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.failures-content p {
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}

.failures-content ul li {
    font-size: 16px;
    color: #444343;
    list-style: none;
    margin-top: 5px;
}

.failures-content ul li i {
    color: #16D887;
}

/* Plan Section */
.plan-section {
    width: 1140px;
    height: 300px;
    margin: auto;
    text-align: center;
}

.plan-title h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 30px 0px;
}

.plan-details {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.plan-box {
    width: 270px;
    height: 80px;
}

.plan-box img {
    width: 92px;
    height: 92px;
    margin-bottom: 15px;
}

.plan-box h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.plan-box p {
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* Mindset Section */
.mindset-section {
    background-image: url(../img/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.mindset-img img {
    opacity: 75%;
}

.mindset-img {
    position: relative;
}

.mindset-content {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 460px;
}

.mindset-content h3 {
    font-size: 40px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.mindset-content a {
    background-color: #FFFFFF;
    color: #F15B22;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section */
.footer-section {
    background-color: #151414;
    padding: 80px 0px 20px 0px;
}

.footer-con {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}

.footer-left {
    width: 485px;
    height: 317px;
}

.footer-left h1 {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-left p a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-icon img {
    height: 46px;
    width: 47px;
    margin-top: 20px;
    margin-right: 10px;
}

.footer-right {
    width: 325px;
    height: 204px;
}

.footer-right h1 {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form input {
    width: 325px;
    height: 64px;
    background-color: #151414;
    color: #F8F8F8;
    padding-left: 20px;
    margin-bottom: 30px;
    border-color: #FFFFFF;
    border-radius: 5px;
}

.footer-form a {
    height: 64px;
    width: 170px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #F15B22;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}